lgtm/**/data/*
!lgtm/**/data/.gitkeep
volumes/victoria-logs-data/*
!volumes/victoria-logs-data/.gitkeep
volumes/victoria-metrics-data/*
!volumes/victoria-metrics-data/.gitkeep
volumes/victoria-traces-data/*
!volumes/victoria-traces-data/.gitkeep
